<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SAAI.Properties.Settings>
            <setting name="AIPort" serializeAs="String">
                <value>8090</value>
            </setting>
            <setting name="CurrentCameraPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentCameraPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="AIIPAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailUser" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AISetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupQueue" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ThrottleSkip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimePerFrame" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxEventTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EventInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DBMotionFramesConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={0}\DBMotionFrames.mdf;Integrated Security=True;Asynchronous Processing=True</value>
            </setting>
            <setting name="EmailSetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MQTTServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MQTTUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTCoolDown" serializeAs="String">
                <value>30</value>
            </setting>
        </SAAI.Properties.Settings>
    </userSettings>
</configuration>
